
<!DOCTYPE html>
<html>
<head>
	<title>Bookhub</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/icon.png')}}" type="image">
</head>
<body>

{% include "home/header.html" %}

<div class="intro" style="">
	<div class="intro_title">Welcome to Bookhub</div>
	<a class="read_more" onclick="Read()">Читать</a>
</div>
<div style="width: 100%; height: 15px; background: linear-gradient(black, rgb(208,199,186));"></div>

<div class="main">
	<!--огромный шо пизда код со слайдерами НАЧИНАЕТСЯ!!! -->
	<div class="slider element">
		<a href="/" class="genre_title">Популярные</a>
		<div class="description back_inf">Самые популярные произведения</div>
		<img onclick="back(0)" src="{{url_for('static', filename='images/back.png')}}" class="right_left" style="left: 10px">

		<div class="slider_wraper">
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">1</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">2</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">3</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">4</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">5</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">6</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">7</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">8</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">9</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">10</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">11</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">12</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">13</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">14</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">15</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">16</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">17</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">18</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">19</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">20</div>
			</div>
		</div>

		<img onclick="next(0)" src="{{url_for('static', filename='images/next.png')}}" class="right_left" style="right: 10px;">
	</div>

	<div class="genre_grid element">
		<a href="#" class="genre">Фантастика</a>
		<a href="#" class="genre">Детектив</a>
		<a href="#" class="genre">Попаданцы</a>
		<a href="#" class="genre">Класика</a>
		<a href="#" class="genre">Путешествия</a>
		<a href="#" class="genre">Роман</a>
		<a href="#" class="genre">Рассказ</a>
		<a href="#" class="genre">Боевик</a>
		<a href="#" class="genre">Фэнтези</a>
		<a href="#" class="genre">ЛитРПГ</a>
		<a href="#" class="genre">Фанфик</a>
		<a href="#" class="genre">Мистика</a>
		<a href="#" class="genre">Ужасы</a>
		<a href="#" class="genre">Сказка</a>
		<a href="#" class="genre">Поэзия</a>
		<a href="#" class="genre">Ещё</a>
	</div>	

	<div class="slider element">
		<a href="/" class="genre_title">Последние</a>
		<div class="description back_inf">Новейшие произведения</div>
		<img onclick="back(1)" src="{{url_for('static', filename='images/back.png')}}" class="right_left" style="left: 10px">

		<div class="slider_wraper">
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">1</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">2</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">3</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">4</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">5</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">6</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">7</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">8</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">9</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">10</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">11</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">12</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">13</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">14</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">15</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">16</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">17</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">18</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">19</div>
			</div>
			<div class="slide">
				<a href="#">
				<img src="{{url_for('static', filename='images/book1.jpg')}}" alt="" class="img_slide"></a>
				<div class="img_title">Интересная личность</div>
				<div class="author_name">20</div>
			</div>
		</div>

		<img onclick="next(1)" src="{{url_for('static', filename='images/next.png')}}" class="right_left" style="right: 10px;">
	</div>

	<!--ЗАКАНЧИВАЕТСЯ-->
</div>



<script type="text/javascript" src="{{url_for('static', filename='js/needed.js')}}"></script>
<script type="text/javascript">
var allslidecount = 15;
var slidecount = 5;

function Read() {
	a = document.getElementsByClassName("main")[0];
	a.scrollIntoView({ behavior: 'smooth'});
}

</script>

<footer style="width: 100%; height: 100px; background-color: black">
	<h3 style="color: white">Footer</h6>
</footer>
</body>
</html>