<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Четное-нечетное</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Жди нас, Марс!</h1>
                    <img src="https://e7.pngegg.com/pngimages/1000/382/png-clipart-blood-moon-earth-mars-planet-solar-system-terraforming-jupiter-atmosphere-sphere.png" style="height: 700px;">
<h2 class="grey_title sizebox">Человек вырастает из детсвтва</h2>
<h2 class="sizebox" id="green">Человеку мала одна планета</h2>
<h2 class="grey_title sizebox">Мы сделаем обитаемм=ыми безжизненные планеты</h2>
<h2 class="sizebox" id='yellow'>И начнём с марса</h2>
<h2 class="sizebox" id='red'>Присоединяйся</h2>
</body>
</html>